.news-img{
    height: 150px;
    background-repeat: no-repeat;
}

.news-container{
    width: 90%;
    margin: 0 auto;
}
.can-see{
    display: block;
    margin: 10px;
}
.cant-see{
    display: none;
    margin: 10px;
}
.invisible{
    display: none;
}
