.news-img{
    height: 150px;
    background-repeat: no-repeat;
}

.news-container{
    width: 90%;
    margin: 0 auto;
}

.invisible{
    display: none;
}
.delete-btn{
    display: inline-block;
    border: none;
    padding: 0;
    height: 15px;
}
